.gradient-background {
  background: linear-gradient(500deg, #00bfff, #ff4c68,rgb(241, 5, 190), #ef8172, red, rgb(67, 224, 4) );
  background-size: 250% 250%;
  animation: gradient-animation 5s ease infinite;
  
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}